.menu-lateral{
    display: flex;
    background-color: darkolivegreen;
    width: 20vw;
    height: 100vh;
    flex-direction: column;
}

.conteiner{
    display: block;
    margin: 0;
}
